# Всё что в build/
build/
cmake-build-*/

# Скомпилированные файлы
*.o
*.exe
*.out
a.out

# Временные файлы
*~
*.swp
*.swo

# Файлы IDE
.vscode/
.idea/
*.code-workspace
*.ipynb
# Python
__pycache__/
*.pyc
*.so
*.cpython-*

# Файлы данных
*.dat
*.txt
chen_cat.dat
deltaZeta_data.txt
table1.dat
travel_cepheids.txt

# Тестовые файлы
test.py
test.txt
hello.cpp
hello.*
newfile.cpp
projection.cpp
version\ hello/

# CMake
CMakeLists.txt

